# Node.js
# Build a general Node.js application with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/javascript

pool:
  vmImage: 'Ubuntu-16.04'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '12.x'
    displayName: 'Install Node.js'

  - script: |
      git config user.email "dcfinlinson@gmail.com"
      git config user.name "Derek Finlinson"
      git remote set-url origin https://$(github.user):$(github.pat)@github.com/derekfinlinson/powerapps-tools.git
    displayName: 'git config'
    env: 
      github.pat: $(github.pat)
  - script: |
      npm install -g pnpm
    displayName: 'install pnpm'
  - script: |
      pnpm install
    displayName: 'run pnpm'
  - script: |
      pnpm check
    displayName: 'check change files'
  - script: |
      pnpm build
    displayName: 'build'
  - script: |
      pnpm publish:beachball -n $(npm.authtoken) -y
    displayName: 'beachball publish'
    env:
      npm.authtoken: $(npm.authtoken)