name: release

on:
  push:
    branches: [master]
      
jobs:
  build:
    environment: release

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]

    steps:
    - uses: actions/checkout@v4.1.1
    - run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
    - uses: pnpm/action-setup@v3
      with:
        version: 10.22.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4.0.2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
        registry-url: 'https://registry.npmjs.org'
    
    - run: pnpm install
    - run: pnpm build
    - name: Release
      run: pnpm release -n "$NPM_TOKEN"
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
